<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Page</title>
    <link rel="stylesheet" href="tracking-styles.css">
</head>
<body>
    <section>
        <!--for demo wrap-->
        <h1 style="color: blue;">Track Record of {{Mobilizer_id}}</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th style="color: black;">Event Id</th>
                <th style="color: black;">Event Name</th>
                <th style="color: black;">Event Place</th>
                <th style="color: black;">Description</th>
                <th style="color: black;">Timings</th>
                <th style="color: black;">Completed</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td>E100</td>
                <td>Children Empowerment</td>
                <td>Mumbai</td>
                <td>Go to the specified school</td>
                <td>{{Date}}</td>
                <td>Its a boolean that is (Yes/No). On selecting the row color will change</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
</body>
</html>